<!-- PAGINA DALLA QUALE L'UTENTE SELEZIONA LA DATA-->
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>

<h2>Trova prenotazioni per giorno</h2>
<form action="/calendario" method="GET">
    <label>Seleziona la data</label>
    <input type="date" name="data" value="<%= data %>" id="data"></input> 
    <select id="type" name="type">
      <option value="day" selected="selected">Giorno</option>
      <option value="week">Settimana</option>
      <option value="month">Mese</option>
    </select>
    <button>Stampa prenotazioni</button>
</form>
<body onload="myFunction()">
    <h2>Storico manutenzioni</h2>
    <button onclick="goPrev()" id="prev">Prev</button>
    <button onclick="goNext()" id="next">Next</button>
<table>    
    <tr>
    <th>Data prenotazione</th>
    <th>Utente</th>
    <th>Problema</th>
    <th>Bici</th>    

    </tr>
<% prenotazione.forEach( p => { %>
  <tr>
    <td><%= p.data.toDateString() %></td>
    <td><%= p.utente %></td>
    <td><%= p.problema %></td>
    <td><%= p.bici %></td> 
  </tr>
<% }) %>

</table>
  <script>
    function myFunction() {
      var url = new URL(window.location.href)
      var t = url.searchParams.get("type")
      console.log(t)
      document.getElementById("type").value = t
      /*let m
      <% if(data){ %>
        m = new Date("<%= data %>")
      <% } else{ %>  
        m = new Date()
      <% } %>
        m.setDate(m.getDate()-1)
        document.getElementById("prev").value = m.toISOString().slice(0,10);
        m.setDate(m.getDate()+2)
        document.getElementById("next").value = m.toISOString().slice(0,10);*/
    }
    function goPrev() {
      let m
      <% if(data){ %>
        m = new Date("<%= data %>")
      <% } else{ %>  
        m = new Date()
      <% } %>
        m.setDate(m.getDate()-1)
      location.href = '?data=' + m.toISOString().slice(0,10) + '&type=' + document.getElementById("type").value
    }
    function goNext() {
      let m
      <% if(data){ %>
        m = new Date("<%= data %>")
      <% } else{ %>  
        m = new Date()
      <% } %>
        m.setDate(m.getDate()+1)
      location.href = '?data=' + m.toISOString().slice(0,10) + '&type=' + document.getElementById("type").value
    }
  </script>
</body>