<!-- PAGINA DALLA QUALE L'UTENTE SELEZIONA LA DATA-->
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
</head>

<h2>Trova prenotazioni per giorno</h2>
<form action="/calendario" method="GET">
    <label>Seleziona la data</label>
    <!-- <input type="text" name="utente" value="<%= searchOptions.utente %>"></input>  -->
    <input type="date" name="data" value="<%= searchOptions.data %>"></input> 
    <button>Stampa prenotazioni</button>
</form>
<body onload="myFunction()">
    <h2>Storico manutenzioni</h2>
    <form action="/calendario" method="GET">
    <input type="hidden" name="data" id="prev" value=""></input> 
    <button>Prev</button>
    </form>
    <form action="/calendario" method="GET">
    <input type="hidden" name="data" id="next" value=""></input> 
    <button>Next</button>
    </form>
<table>    
    <tr>
    <th>Data prenotazione</th>
    <th>Utente</th>
    <th>Problema</th>
    <th>Bici</th>    

    </tr>
<% prenotazione.forEach( p => { %>
  <tr>
    <td><%= p.data %></td>
    <td><%= p.utente %></td>
    <td><%= p.problema %></td>
    <td><%= p.bici %></td> 
  </tr>
<% }) %>

</table>
  <script>
    function myFunction() {
      var m = new Date("<%= searchOptions.data %>")
        m.setDate(m.getDate()-1)
        document.getElementById("prev").value = m.toISOString().slice(0,10);
        m.setDate(m.getDate()+2)
        document.getElementById("next").value = m.toISOString().slice(0,10);
        }
      </script>
</body>